/* */
html,
body {
    height: 100%;
    width: 100%;
}
html, section {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}
header {
    background: #3e3e3e;
    width:100%;
    height:100px;
}

.page-wrap {
    padding:2rem 0;
    min-height: 100%;
}

header .top-bar {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    width: 100%;
}

header .container {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100px;
}

header .top-bar li a {
    padding: .25rem 1rem;
    color:#fff;
    border-radius: .5rem;
}

header .top-bar li {
    display: inline;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: gray;
}

header .top-bar li:hover {
    background-color: orangered;
}

header .top-bar li a:hover {
    text-decoration: none;
}

header .top-bar .sub-menu li a {
    display: none;
    /* overflow: hidden; */
}

header .top-bar li a:hover {
    display: show;
}

footer {
    background-color: lightslategray;
    display: block;
    padding: 2rem;
    -webkit-box-shadow: 0px -9px 54px -33px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -9px 54px -33px rgba(0,0,0,0.75);
    box-shadow: 0px -9px 54px -33px rgba(0,0,0,0.75);
}

footer li {
    list-style-type: none;
    margin: 1rem;
    display: inline;
}


footer li a {
    color: gray;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
}

.card .card-header {
    /* background-color: none;
    border-radius: 1rem !important; */
    background-color: #7080901f !important;
    
}

.post-card .card {
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
}

.post-card .card .card-header {
    background-color: #7080901f !important;
    width: 100%;
    overflow: hidden;
    border-bottom: none;
}

.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-lg-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}